@model ProyectoP5.Models.TipoProductoCRUDModel
        @using (Html.BeginForm("TipoProductoCRUDAdd", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Tipo Producto</h4>
                </div>
                <div class="modal-body">

                    <div class="card__body">


                        <div class="form-group">
                            @Html.TextBoxFor(model => model.IdTipoProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.IdTipoProducto), required = "required", type="number" })
                            <i class="form-group__bar"></i>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NombreProducto, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.NombreProducto), required = "required" })
                            <i class="form-group__bar"></i>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Insertar</button>
                    <button type="button" class="btn btn-default" id="closeTipoProducto">Cerrar</button>
                </div>
            </div>
        }
---
