
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>

    <!-- Site CSS -->
    <link href="@Url.Content("~/content/Admin/css/app-1.min.css")" rel="stylesheet">
</head>
<body>
    <div class="page-error">
        <div class="page-error__inner">
            <h2>Error!</h2>
            <p>Ocurrio un error al ejecutar el procedimiento solicitado, errores posibles: @ViewData["error"]</p>
        </div>
    </div>
</body>
</html>
